@charset "UTF-8";
/* CSS Document */

*{
    margin: 0;
    padding: 0;
}

body{
    background: #FFCFD0;
    font-family: 'TsukuARdGothic-Regular','TsukuBRdGothic-Regular',monospace;
    -webkit-text-size-adjust:100%;/*    スマホサイトの１pxでフォントサイズが格段に変わってしまうバグ修正*/
}
.main{
    background: #FFF;
    width: 980px;
}




.toptop{
    background:#CF695D;
    color: #FFF;
    padding: 20px;
    text-align: center;
    font-size: 26px;
}

.hukidasi{
  text-align: center;
  position: relative;
  bottom: 30px;
}

.tag05{
    margin-top: 80px;
}
.tag06{
    margin-top: 30px;
}
.tag07{
    margin-top: 90px;
    margin-bottom: 90px;
    
}
.tag09{
    font-size: 20px;
    line-height: 0px;
}
.tag01{
    display: inline-block;
    position: relative;
    left: 40px;
    margin-top:30px;
    margin-bottom:30px;
}


.tag02{
    display: inline-block;
    font-size: 40px;
    text-align: center;
    color: #cf695d;
    margin-left: 30px;
}
.tag02-2{
    position: relative;
    bottom: 20px;
        line-height: 80px;
}

.main2{
    background:#FEEFEE;
    border-radius: 50px;
    width: 950px;
    margin: 0 auto;
}

.center{
    text-align: center;
}
.font-pink{
    color: #cf695d;
    font-size: 36px;
    line-height: 60px;
}
.tag03{
    border-bottom: 3px #cf695d solid;
    margin-top: 30px;
    margin-bottom: 130px;
    display: inline-block;
}
.tag04{
    font-size: 25px;
}
.ookukuri1{
    font-size: 60px;
    color: #CF695D;
    border: 20px #CF695D solid;
    border-radius:30px;
    text-align: center;
    width: 800px;
    position:relative;
    left: 35px;
    padding: 10px 20px;
    margin-bottom: 100px;
}

.step{
    display: inline-block;
    margin-left: 40px;
}
.step p{
    display: inline-block;
    font-size: 50px;
    position: relative;
    bottom: 5px;
    left: 45px;
    color: #cf695d;
}
.step img{
    display: inline-block;
}

.setumei{
    font-size: 40px;
    margin: 40px 0 50px 200px;
    color: #cf695d;
    line-height: 70px;
}
.tag08{
    margin: 0 0 30px 0;
}
.botton p{
    font-size: 50px;
    background: #DBB366;
    color: #FFF;
    display: inline-block;
    padding: 10px 250px;
    margin: 30px auto;
    border-radius: 40px;
    border: 18px #FFFFFF double;
}
.botton p:active{
    box-shadow: 0px 0px 10px #000000;
}
.botton img{
    margin: 30px 0;
    display: none;
}
.botton{
    text-align: center;
}



/*ステップ２*/
.step2{
    display: inline-block;
    margin-left: 32px;
    margin-top: 50px;
    margin-bottom: 20px;
    
}
.step2 p{
    display: inline-block;
    font-size: 50px;
    position: relative;
    bottom: 5px;
    margin-left: 378px;
    color: #cf695d;
}
.step2 img{
    margin-left: 30px;
}



/*ステップ３*/
.trade-main{
    background: #FFF;
    width: 900px;
    border-radius:30px;
    margin:0 auto;
    display: none;
}
.trade-margin{
    position: relative;
    top: -30px;
    display: none;
}

#trade-botton{
    font-size: 50px;
    background: #DBB366;
    color: #FFF;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 30px;
    padding: 10px 250px;
    border-radius: 40px;
    border: 18px #FFFFFF double;
}
#trade-botton:active{
    box-shadow: 0px 0px 10px #000000;
}



#donuts{
    margin:70px;
}
#hamburger{
    margin:70px;
}#drink{
    margin:70px;
}



/*終盤*/
.access-p{
    font-size: 40px;
    color:#501D1E;
    display: inline-block;
    margin-left: 180px;
    margin-bottom: 200px;
    margin-top: 70px
}
.access{
    text-align: center;    
}

.ookukuri2{
    margin-top: 300px;
}




/* コピーライト*/
.light{
    text-align: center;
    font-size: 12px;
    padding: 10px;
    background:#CF695D;
    color: #FFF;
    margin-top: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
} 








/*ハンバーガーマーク*/
header {
    float: right;
  padding:50px 0px 100px 100px;
  background:#E65748;
display: inline-block;
    margin: -30px 10px 0 0 ;
    border-radius: 100px;
    height: 0px;
    opacity: 0.9;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 50px;
  height: 0px;
  vertical-align: middle;
}

.tag26{
    display: inline-block;
    margin: -22px 0 0 -64px;
}

/*ハンバーガーアイコンをCSSだけで表現*/

#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 700px;/*最大幅（調整してください）*/
  height: 100%;
  background: #FFF;
  background: rgba(207,105,93,0.8);
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}




.tag10{
position: fixed;
bottom: 83%;
    left: 80%;
}



.tag11{
    margin: 0 0 60px 0;
}


.left{
    position: relative;
    left: 20px;
}







.tag12{
    position: relative;
    right: 29px;
}


.right{
    position: relative;
    margin-left: 700px;
}


.tag13{
    margin-bottom: 30px;
}
.tag15{
    color: #cf695d;
    font-size: 50px;
    margin:0 0 30px 60px; 
}





.tag16{
    font-size: 40px;
    line-height: 70px;
    color: #cf695d;
    margin-left: 360px;
    margin-bottom: 30px;
    
}


.tag18{
    font-size: 40px;
    color: #cf695d;
    line-height: 70px;
    margin-left: 60px;
}

.tag19{
    font-size: 50px;
    color: #cf695d;
    margin-left: 300px;
}

.tag20{
    margin:50px auto  20px 720px;
}


.tag21{
    font-size: 40px;
    color: #cf695d;
    line-height: 70px;
    margin: 0 0 0 60px;
}



.tag22{
    font-size: 40px;
    color: #cf695d;
    margin-left: 60px;
}
.tag27{
    margin: 30px 0 10px 60px
}

.tag23{
    font-size: 40px;
    margin-left: 440px;
    margin-bottom: -120px;
    color: #cf695d;
    line-height: 70px;
}

.tag28{
    margin: 60px 0 0 0;
}

.tag29{
    margin: 200px 0 0 0;
}

.menu-1{
    font-size: 60px;
    margin: 30px 60px;
    list-style: none;
    
    
}
.menu-1 li a{
     text-decoration: none;
    color: #FFF;
}
.menu-1 li{
        text-align: center;
    line-height: 90px;
}
.menu-1 .border{
    border-bottom: #FFF 2px solid;
}

.menu-1 .tag30{
    margin: 380px 0 0 0;
    text-align: center;
}

.menu-2{
    font-size: 34px;
    margin: -10px 0 10px 0;
}
.menu-2 li{
    list-style: none;
    line-height: 60px;
    display: inline-block;
    margin:0 0 0 19px;
}

.ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 20px;
left: 50px;
height: 0;
overflow: hidden;
}
 
.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 90%;
height: 90%;
}











